ul {
    list-style: none;
}

nav .input-group-text, .form-control {
    background-color: #E5E5E5;
    border: 0;
    padding: .375rem;
}

nav form, .spaced {
    flex: 1 0 0;
}

.navbar-nav {
    flex-direction: row;
    margin-inline-start: 1rem;
}

.dropdown-menu[data-bs-popper] {
    position: absolute;
    left: unset;
    right: 0;
}

.spaced {
    flex: 1 0 0;
}

aside {
    background-color: #051E34;
    background-image: url(img/sidebar-bg.png);
    background-position-x: 15%;
    background-repeat: no-repeat;
}

aside, main {
    padding-top: 62px;
    padding-bottom: 31px;
}