/* heaer */

ul {
    list-style: none;
}

header nav form .input-group .input-group-text, header nav form .input-group .form-control {
    background-color: #E5E5E5;
    border: 0;
    padding: .375rem;
}

header nav form, .spaced {
    flex: 1 0 0;
}

nav img {
    margin-inline-end: 1rem;
}

.navbar-nav {
    flex-direction: row;
    margin-inline-start: 1rem;
}

.dropdown-menu[data-bs-popper] {
    position: absolute;
    left: unset;
    right: 0;
}

/* main */

aside, .top_main>.row {
    padding-top: 72px;
    padding-bottom: 31px;
}

aside {
    background-color: #051E34;
    background-image: url(img/sidebar-bg.png);
    background-position-x: 15%;
    background-repeat: no-repeat;
}

aside li a:hover {}

aside i {
    text-align: center;
    width: 20px;
}

/* main */

.top_main>.row {
    background-color: #1B72E8;
}

.top_main .btn i {
    width: 16px;
    aspect-ratio: 1 / 1;
}

.top_main .btn:hover {
    color: #1B72E8;
}

.top_main .badge {
    background-color: #165BBA;
}

main nav .input-group-text, main .form-control {
    background-color: white;
    border: 1px solid #E5E5E5;
}

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
    --bs-offcanvas-width: 800px;
}

.bottom_main {
    background-color: white;
}