/* heaer */

header nav form .input-group .input-group-text,
header nav form .input-group .form-control {
    background-color: #E5E5E5;
    border: 0;
    padding: .375rem;
}

header nav form,
.spaced {
    flex: 1 0 0;
}

header nav a>img {
    margin-inline-end: 1rem;
}

header nav .navbar-nav {
    flex-direction: row;
    margin-inline-start: 1rem;
}

header nav .navbar-nav .dropdown .dropdown-menu[data-bs-popper] {
    position: absolute;
    left: unset;
    right: 0;
}

/* main */

aside, .top_main>.row {
    padding-top: 72px;
    padding-bottom: 31px;
}

aside {
    background-color: #051E34;
    background-image: url(img/sidebar-bg.png);
    background-position-x: 22%;
    background-repeat: no-repeat;
}

aside li a{
    background-color: #051E34;
}

aside li a:hover {
    background-color: #10385b;
}

aside i {
    text-align: center;
    width: 20px;
}

/* main */

main .top_main>.row {
    background-color: #1B72E8;
}

main .top_main .btn i {
    width: 16px;
    aspect-ratio: 1 / 1;
}

.top_main .boolean .badge {
    background-color: #165BBA;
}

main nav .input-group-text,
main .form-control {
    background-color: white;
    border: 1px solid #E5E5E5;
}

.top_main .new_student .offcanvas,
.top_main .new_student .offcanvas-lg,
.top_main .new_student .offcanvas-md,
.top_main .new_student .offcanvas-sm,
.top_main .new_student .offcanvas-xl,
.top_main .new_student .offcanvas-xxl {
    --bs-offcanvas-width: 800px;
}

main .bottom_main {
    background-color: white;
}